.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.App-header-text {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.App-header-subtitle {
  font-size: 18px;
}

main {
  margin-top: 10vh;
}
